body {
    margin: 0;
}

header {
    background-color: #222222;
    height: 100px;
}

img {
    height: 300px;
    border-radius: 50px;
}


img:hover {
    filter: saturate(1.3);
}

h1 {
    text-align: center;
    font-family: "Bungee Shade";
    color: #ffff;
    margin: auto;
    font-weight: 600;
}

h2 {
    margin: 2em;
    text-align: center;
    font-family: "Bungee Shade";
    color: #222222;
    font-weight: 600;
}

.pictures {
    height: auto;
    text-align: center;
}
svg {
    width: 100%;
    top: 6em;
    position: absolute;
}

footer {
    background-color: #222222;
    height: 100px;
    margin-top: 50px;
}

.link {
    display: flex;
    text-align: center;
    justify-content: center;
    
}

a {
    text-decoration: none;
    font-family: "Bungee Shade";
    color: #ffff;
    font-size: 20px;
    font-weight: 600;
    margin: 10px;
    display: flex;
    justify-content: center;
}

.pg {
    width: 400px;
    height: 150px;
    background-color: rgb(39, 39, 39);
    border-radius: 25px;
    margin: 10px;
    position: relative;
}

.txt {
    color: #ffff;
    margin: auto;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.clef {
    color: #bdbdbd;
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    bottom: -10px;
    left: 2em;
}

.project {
    display: flex;
    flex-wrap: wrap;
}

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');